.share-modal {
	.rs-modal-header {
		@apply text-center text-lg font-medium block p-0;
	}
	.rs-modal-content {
		@apply sm:px-8;

		.rs-modal-body {
			@apply flex-center flex-col;
			overflow: visible !important;

			.editable-input-container {
				@apply relative w-full pb-4;

				.editable-input {
					&:not(:last-of-type) {
						@apply mb-5;
					}

					::placeholder {
						font-size: 0.9rem;
					}
				}

				.label {
					@apply text-primary;
				}
			}

			.radiogroup-whisper {
				@apply mx-auto mt-4;
				.mode-picker {
					padding-left: 10px;
					border-color: rgba(0, 0, 0, 0.23);

					.box-label {
						@apply text-sm mr-3 my-auto;
						// padding: 7px 0;
						height: fit-content;
					}

					.rs-radio-checker {
						label {
							@apply py-2 text-opacity-70;

							&:hover {
								@apply text-primary;
							}
						}
					}

					.rs-radio-checked {
						label {
							@apply text-primary;
						}

						.rs-radio-checker {
							@apply border-primary;
							border-bottom-width: 1.5px;
						}
					}
				}
			}

			.services-list {
				@apply w-full overflow-y-auto mt-8;

				.rs-col {
					@apply md:flex md:justify-center sm:mb-2;
				}
				.service-container {
					@apply cursor-pointer px-2 flex items-center rounded-lg transition-colors duration-300 w-32;

					.service-logo {
						border-radius: 4px;
						width: fit-content;
						height: fit-content;
						padding: 0.03rem;

						img {
							@apply w-7 h-7 sm:w-8 sm:h-8;
						}
					}

					h2 {
						@apply ml-1.5 capitalize transition-colors;
					}

					&:hover {
						@apply bg-gray-50 bg-opacity-20;
					}
				}
			}
		}
	}
}

.share-mode-tooltip {
	@apply border border-primary text-primary;
	// background-color: rgb(239, 240, 241);
	background-color: rgb(246, 244, 248);

	&::after {
		border-top-color: $primary !important;
	}
}

.rs-modal-backdrop {
	@apply backdrop-filter backdrop-blur-md;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	&::before {
		backdrop-filter: blur(12px) contrast(60%);
		-webkit-backdrop-filter: blur(12px) contrast(60%);
		width: contain;
	}
}

@keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bounce-out {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
