.footer-layout {
	@apply bg-white bg-opacity-30 flex-center flex-col pt-4 pb-2 z-10 backdrop-filter backdrop-blur-md shadow-light md:fixed bottom-0 w-full;

	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	&::before {
		backdrop-filter: blur(12px) contrast(60%);
		-webkit-backdrop-filter: blur(12px) contrast(60%);
		width: contain;
	}

	.about-mybutton {
		@apply flex-center;
		.social-links {
			@apply flex;

			a {
				@apply transition-all;
				&:hover {
					scale: 1.05;

					.fa-icon {
						@apply bg-gray-900;
					}
				}
				&:not(:last-of-type) {
					@apply mr-2;
				}
			}

			.social-icon {
				@apply p-1 rounded-full bg-primary bg-opacity-80 transition-colors;
				width: 1.6rem;
				height: 1.6rem;
				padding: 0.3rem;

				fill: white;
			}
		}
		.empowered {
			font-size: 0.8rem;
			@apply text-gray-600 hover:text-gray-900 font-medium transition-colors mr-2;
		}
	}
	.version {
		font-size: 0.6rem;
		@apply text-xs text-gray-500 mt-1;
	}
}
