.get-button-layout {
	@apply w-full min-h-screen flex-center;

	.get-button-container {
		@apply p-8 pb-16 rounded-lg bg-white bg-opacity-50 w-4/5 md:w-2/3 lg:w-1/2 mx-auto z-10 flex flex-col;
		// min-height: 30rem;
		box-shadow: 0 1px 12px 1px rgba(69, 65, 78, 0.1);

		h1 {
			@apply text-lg font-medium text-center;
			letter-spacing: 0.05em;
		}

		.input-container {
			@apply w-full flex flex-col items-center sm:flex-row sm:justify-center mt-8;

			.input-label {
				@apply mb-2 sm:mb-0 sm:mr-8 text-primary font-medium;
			}

			.editable-input {
				@apply sm:w-2/3;

				.labeled-wrapper {
					min-height: 2.5rem;

					input {
						height: 2.5rem;
					}
				}

				.label {
					@apply text-primary;
				}
			}
		}

		.buttons {
			@apply flex flex-col items-center sm:flex-row sm:justify-center w-full mt-12;

			.rs-btn {
				@apply w-40 text-white font-medium;
			}

			.choose {
				@apply bg-primary bg-opacity-70  hover:bg-opacity-90 mb-4 sm:mb-0 sm:mr-10;
			}

			.get-code {
				@apply bg-cyan-dark bg-opacity-70 hover:bg-opacity-100;
			}
		}
	}
}

.choose-services-modal {
	.rs-modal-header {
		@apply text-center text-lg font-medium block p-0;
	}

	.rs-modal-body {
		@apply pb-4;
		overflow: visible !important;
		.services-list {
			@apply overflow-y-auto;

			.service-radio {
				.rs-radio-wrapper {
					top: auto;
				}

				.rs-radio-checker {
					@apply py-0;
				}

				.rs-radio-inner::before {
					@apply border-primary;
					box-shadow: none;
				}

				&.rs-radio-checked {
					.rs-radio-inner::before {
						@apply bg-primary;
					}
				}

				label {
					@apply flex items-center;

					.service-logo {
						@apply rounded-md;
						width: fit-content;
						height: fit-content;

						img {
							@apply w-6 h-6 sm:w-8 sm:h-8;
						}
					}

					h2 {
						@apply ml-1.5 capitalize transition-colors;
					}
				}
			}
		}
	}

	.rs-modal-footer {
		@apply pt-6 text-center;

		.rs-btn {
			@apply w-40 mx-auto bg-primary bg-opacity-60 hover:bg-opacity-80 text-white;
		}
	}
}
