.choose-services-modal {
	.rs-modal-header {
		@apply text-center block p-0;

		h1 {
			@apply text-lg font-medium;
		}
	}

	.rs-modal-body {
		@apply pb-4;
		overflow: visible !important;
		.services-list {
			@apply overflow-y-auto;
			.service-radio {
				.rs-radio-wrapper {
					top: auto;
				}

				.rs-radio-inner::before {
					@apply border-primary;
					box-shadow: none;
				}

				&.rs-radio-checked {
					.rs-radio-inner::before {
						@apply bg-primary;
					}
				}

				label {
					@apply flex items-center;

					.service-logo {
						@apply rounded-md;
						width: fit-content;
						height: fit-content;

						img {
							@apply w-6 h-6 sm:w-8 sm:h-8;
						}
					}

					h2 {
						@apply ml-1.5 capitalize transition-colors;
					}
				}
			}
		}
	}

	.rs-modal-footer {
		@apply pt-6 text-center;

		.rs-btn {
			@apply w-40 mx-auto bg-primary bg-opacity-60 hover:bg-opacity-80 text-white;
		}
	}
}
