.navbar-layout {
	@apply w-full fixed top-0 z-40 backdrop-filter backdrop-blur-md items-center bg-transparent;
	padding: 15px 5% 15px 5%;
	height: fit-content;
	-webkit-box-shadow: 0px 0px 12px 1px #29075963;
	box-shadow: 0px 0px 12px 1px #29075963;
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	&::before {
		backdrop-filter: blur(12px) contrast(60%);
		-webkit-backdrop-filter: blur(12px) contrast(60%);
		width: contain;
	}

	@include down(md) {
		padding: 10px 4%;
	}
	@include down(sm) {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	* {
		@apply transition-all;
	}

	.navbar {
		@apply bg-transparent flex items-center font-normal text-lg relative;

		@include down(sm) {
			@apply text-sm;
		}

		.main-nav {
			@apply w-full flex items-center justify-end;
			.nav-item {
				@apply text-base font-normal transition-all px-0 py-2;
				margin-right: 2rem !important;
				margin-left: 2rem !important;
				color: #3b3b3b;
				background: none !important;
				height: fit-content;

				@include down(md) {
					margin-right: 1rem !important;
					margin-left: 1rem !important;
				}

				.rs-ripple {
					background: none !important;
				}

				&.rs-navbar-item-active {
					@apply font-medium flex-col flex-center;

					&::after {
						@apply absolute bottom-1 flex-center animate-fade-in;
						animation-duration: 0.5s;
					}
				}

				&:hover {
					@apply text-primary text-opacity-100 font-medium cursor-pointer;
				}

				&.active {
					@apply text-primary text-opacity-100 font-medium;
				}
			}
		}

		.nav-brand {
			@apply px-0 py-0 select-none text-primary font-bold text-lg sm:text-xl cursor-pointer;
			height: max-content;

			.logo-text {
				@apply w-24 h-5 sm:w-32 sm:h-10;
			}
		}
	}
}
